<div id="content">
	<header class="page-title">
		<h2>Profile</h2>
	</header>
	<main>
		<div class="row">
			<div class="col-9">
				<div class="module">
					<h3 class="title">Details</h3>
					<div class="content text-center">
						<section class="flex-y align-items-center justify-content-center">
							<img class="avatar" src="../../images/user-default.png" alt="">
							<h4>Employee Name</h4>
						</section>
						<section class="mt-5">
							<h5>Education</h5>
							<p class="text-muted">Education History</p>
						</section>
						<section class="mt-5">
							<h5>Employment</h5>
							<p class="text-muted">Employment History</p>
						</section>
						<section class="mt-5">
							<h5>Skills</h5>
							<p class="text-muted">Skills List</p>
						</section>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="module" id="actions">
					<h3 class="title">Actions</h3>
					<div class="content">
						<button type="button" class="btn btn-block btn-primary">Edit Personal Details</button>
						<button type="button" class="btn btn-block btn-primary">Edit Education Details</button>
						<button type="button" class="btn btn-block btn-primary">Edit Employment Details</button>
						<button type="button" class="btn btn-block btn-primary">Edit Skills</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>