app-login
{
	display : flex;
	min-height: 100vh;
	margin: 0;

	aside {
		flex: 1 0 auto;
		width: 30%;
		display: flex;
		flex-direction: column;
	}

	#content {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/bg.jpg");
		background-size: 100% 100%;
		color: #FFF;
	}

	aside > header,
	#content > header {
		flex: 1 0 auto;
	}

	aside > main,
	#content > main {
		flex: 0 1 100%;
	}

	form > div {
		display: flex;
		flex-direction: column;
	}

	aside > header,
	aside > main,
	#content > header,
	#content > main {
		padding: 2rem;
	}

	aside > header h2 {
		font-weight: 800;
	}

	#content > header nav {
		display: flex;
	}

	#content > header nav a {
		color: #FFF;
		font-size: 1.1rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-right: 3em;
	}

	aside > main,
	#content > main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}