app-login
{
	display : flex;
	min-height: 100vh;
	margin: 0;
}

app-login aside {
  flex: 1 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
}

app-login #content {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/bg.jpg");
  background-size: 100% 100%;
  color: #FFF;
}

app-login aside > header,
app-login #content > header {
  flex: 1 0 auto;
}

app-login aside > main,
app-login #content > main {
  flex: 0 1 100%;
}

app-login form > div {
  display: flex;
  flex-direction: column;
}

app-login aside > header,
app-login aside > main,
app-login #content > header,
app-login #content > main {
  padding: 2rem;
}

app-login aside > header h2 {
  font-weight: 800;
}

app-login #content > header nav {
  display: flex;
}

app-login #content > header nav a {
  color: #FFF;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 3em;
}

app-login aside > main,
app-login #content > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}