app-careers
{
	#content {
		display: flex;
		flex-direction: column;
		background: #EEE;
	}

	#content > main {
		padding: 2rem;
	}

	#content > header {
		padding : 1rem;
	}

	#content header {
		background : #FFF;

		display : flex;
		align-items: center;
	}

	.card-header {
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;

		h4 {
			color : #FFF;
			font-weight: 800;
			margin : 0;
		}
	}
}